flows.json
[{"id":"908c868d.35be28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a043eed8.14d1","type":"ui_tab","z":"","name":"Registration Page","icon":"dashboard","disabled":false,"hidden":false},{"id":"47f952ab.0c917c","type":"ui_group","z":"","name":"Reg form","tab":"a043eed8.14d1","order":1,"disp":true,"width":"6","collapse":false},{"id":"df57bc31.84474","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"52f28b4b.5c2ff4","type":"ui_tab","z":"","name":"Login page","icon":"dashboard","disabled":false,"hidden":false},{"id":"26a165e9.cea59a","type":"ui_group","z":"","name":"Login form","tab":"52f28b4b.5c2ff4","order":1,"disp":true,"width":"6","collapse":false},{"id":"4b10841f.dffb7c","type":"ui_group","z":"","name":"Bot","tab":"e75f19be.022488","order":2,"disp":true,"width":"6","collapse":false},{"id":"e75f19be.022488","type":"ui_tab","z":"","name":"CustomerHelp","icon":"dashboard","disabled":false,"hidden":false},{"id":"3ae4bdd1.6c51b2","type":"ui_form","z":"908c868d.35be28","name":"","label":"","group":"47f952ab.0c917c","order":0,"width":0,"height":0,"options":[{"label":"Enter Name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"name":"","email":"","password":""},"payload":"","submit":"create","cancel":"cancel","topic":"","x":360,"y":120,"wires":[["fd9a5a90.aafa38","50b53dbe.c29fc4"]]},{"id":"fd9a5a90.aafa38","type":"debug","z":"908c868d.35be28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":20,"wires":[]},{"id":"50b53dbe.c29fc4","type":"function","z":"908c868d.35be28","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Email:msg.payload.email,\n    Password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":120,"wires":[["f3ba4b9d.b7ee08"]]},{"id":"f3ba4b9d.b7ee08","type":"cloudant out","z":"908c868d.35be28","name":"cloudant","cloudant":"","database":"sample","service":"node-red-vgvxh-2020--cloudant-1597403597352-16637","payonly":true,"operation":"insert","x":720,"y":120,"wires":[]},{"id":"fa997a1e.434b88","type":"ui_form","z":"908c868d.35be28","name":"Form 2","label":"","group":"26a165e9.cea59a","order":0,"width":0,"height":0,"options":[{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter Password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":320,"y":240,"wires":[["ac75bf95.1e4db"]]},{"id":"ac75bf95.1e4db","type":"function","z":"908c868d.35be28","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":240,"wires":[["d4375da4.0780c"]]},{"id":"d4375da4.0780c","type":"function","z":"908c868d.35be28","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":240,"wires":[["85e87f36.4827f"]]},{"id":"85e87f36.4827f","type":"cloudant in","z":"908c868d.35be28","name":"sample","cloudant":"","database":"user","service":"node-red-vgvxh-2020--cloudant-1597403597352-16637","search":"_idx_","design":"user","index":"user","x":760,"y":240,"wires":[["3f232041.b5c0f"]]},{"id":"3f232041.b5c0f","type":"function","z":"908c868d.35be28","name":"","func":"if(msg.payload[0].password==global.get('password')){\n    msg.payload='login successful';\n}\nelse{\n    msg.payload='login failed';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":240,"wires":[["1589d54f.78549b"]]},{"id":"1589d54f.78549b","type":"ui_text","z":"908c868d.35be28","group":"26a165e9.cea59a","order":1,"width":0,"height":0,"name":"","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":240,"wires":[]},{"id":"38d6974d.c1a448","type":"ui_form","z":"908c868d.35be28","name":"CustomerHelp","label":"","group":"4b10841f.dffb7c","order":0,"width":0,"height":0,"options":[{"label":"User input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":300,"y":360,"wires":[["9a5bafac.d0627"]]},{"id":"9a5bafac.d0627","type":"function","z":"908c868d.35be28","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":490,"y":360,"wires":[["9488bda7.a8591"]]},{"id":"9488bda7.a8591","type":"watson-conversation-v1","z":"908c868d.35be28","name":"","workspaceid":"2fcb89f3-02ff-41ca-9bf1-20c0db5762d8","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/bcc28166-5017-4cbc-920b-1943019a3b29","timeout":"","optout-learning":false,"x":670,"y":360,"wires":[["9e2b00e0.0659f","1bd43b3c.981585"]]},{"id":"9e2b00e0.0659f","type":"debug","z":"908c868d.35be28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":300,"wires":[]},{"id":"1bd43b3c.981585","type":"function","z":"908c868d.35be28","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":420,"wires":[["b141cf1.2e9893","ef59f015.f2028"]]},{"id":"b141cf1.2e9893","type":"ui_text","z":"908c868d.35be28","group":"4b10841f.dffb7c","order":1,"width":"6","height":"6","name":"","label":"Bot Response:","format":"{{msg.payload}}","layout":"row-spread","x":990,"y":420,"wires":[]},{"id":"ef59f015.f2028","type":"ui_audio","z":"908c868d.35be28","name":"Bot","group":"4b10841f.dffb7c","voice":"","always":"","x":960,"y":480,"wires":[]}]